<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/travel_planner.css">
</head>
<body>
  <% if session[:message] %>
    <p class="message"><%== session.delete(:message) %></p>
  <% end %>
  <% if navigation_breadcrumbs %>
    <h6>... 
      <% navigation_breadcrumbs.each do |name, path| %>
        <a href="<%= path %>"><%= name %></a> ...
      <% end %>
    </h6>
  <% end %>

  <%== yield %>
</body>
</html>
